.custom-width {
    width: 75%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align: text-bottom;
    padding-top: 5%;
    overflow: hidden;
}
.custom-width  .title {
    width: 27%;
    font-size: 3.5rem;
    border-bottom: 3px solid #869298;
    padding-bottom: 20px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;   
    color: #202c2d;
    text-shadow:
    0 1px #808d93,
    -1px 0 #cdd2d5,
    -1px 2px #808d93,
    -2px 1px #cdd2d5,
    -2px 3px #808d93,
    -3px 2px #cdd2d5,
    -3px 4px #808d93,
    -4px 3px #cdd2d5,
    -4px 5px #808d93,
    -5px 4px #cdd2d5,
    -5px 6px #808d93,
    -6px 5px #cdd2d5,
    -6px 7px #808d93,
    -7px 6px #cdd2d5,
    -7px 8px #808d93,
    -8px 7px #cdd2d5;
}
.forms {
    position: relative;
    margin-top: 5%;
}
.form-group {
    width: 50%;
    text-align: left;
    float: left;
}
.custom-poss {
    margin-left: 25%;
}
.memberID {
    float: left;
    position: relative;
    vertical-align: middle;
    line-height: 35px;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    font-size: 24px;
    margin-right: 10px !important; 
}
#memberList {
    float: left;
    width: 40%;
    height: 35px !important;
}
.fullname {
    position: relative;
    float: left;
    text-transform: capitalize;
    left: 0;
    padding-left: 0 !important;
    margin-left: 0;
    width: 62%;
}
.getFullname {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s; 
    float: right;
    padding-bottom: 5px;
    font-size: 26px;
    position: relative;
    right: 25px;
    text-align: left;
    font-weight: 500;
    top: -15px;
}
.custom-pos {
    float: left;
    position: relative;
}
.custom-button {
    font-weight: 700 !important;
    letter-spacing: .8px;
    padding-left: 30px !important;
    padding-right: 30px !important;
    border: 1px solid #869298 !important;
    text-transform: uppercase;
}
.custom-design {
    border: 2px solid #ddd;
    margin-top: 5%;
    width: 77% !important;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.table .thead-light th {
    color: #495057;
    background-color: #e9ecef;
    border-color: #dee2e6;
    text-transform: uppercase;
}
.table-bordered td, .table-bordered th {
    border: 1px solid #dee2e6;
}
td {
    text-align: left !important;
}
.custom-alignment {
    position: relative;
    float: right;
    right: 12%;
}
.adjust-pos {
    float: left;
    width: 10%;
    position: relative;
    left: 18%;
}
div#showMembername {
    position: relative;
    float: right;
    width: 70%;
}